* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-container-main {
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  background: #111;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  flex-flow: column wrap;
  gap: 20px;
  height: 4rem;
  justify-content: center;
  width: 90%;
}

.search-container > .header-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background-color: red; */
}

.search-container > .search-div {
  /* border: 1px solid red; */
  display: flex;
  height: 100%;
  /* background-color: red; */
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* gap: 2rem; */
}

.header-nav-links > button {
  display:inline-block;
  margin-left:2em;
  padding:1em 1.5em;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  border-radius:5px;
  cursor:pointer;
  background-color: #111;
  border: none;
}

.header-nav-links > button:hover {
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76), inset -2px -2px 4px 0px rgba(167, 167, 167, 0.15);
  background-color: #111;
  color: black;
}

.header-nav-links > button > a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.logo-div > a > img {
  height: 5rem;
}

.userName-div {
  width: 8rem;
}

.form-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-search > .text-search > input {
  background: #111;
  border: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76), inset -2px -2px 4px 0px rgba(167, 167, 167, 0.15);
  /* color: #595959; */
  font-size: 18px;
  height: 3rem;
  outline: none;
  padding-left: 20px;
  width: 15rem;
  font-weight: 400;
  color: #bbbbbb;
}

.text-search > input:-webkit-autofill,
.text-search > input:-webkit-autofill:hover, 
.text-search > input:-webkit-autofill:focus, 
.text-search > input:-webkit-autofill:active{
  font-weight: 400;
  -webkit-text-fill-color: #bbbbbb;
  -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.btn-search-artist {
  background: #111;
  border: none;
  border-radius: 50px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  color: #bbbbbb;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 3rem;
  /* margin: 25px 0 0; */
  outline: none;
  width: 3rem;
  margin-left: 1rem;
}

.btn-search-artist:hover {
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76), inset -2px -2px 4px 0px rgba(167, 167, 167, 0.15);
}

.btn-search-artist:focus {
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76), inset -2px -2px 4px 0px rgba(167, 167, 167, 0.15);
  color: #3498db;
}

.btn-search-artist:disabled {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  color: #595959;
}

.btn-search-artist:disabled:hover {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  color: #595959;
  cursor: default;
}

.btn-search-artist > img {
  height: 1.5rem;
}


.section-search-main {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.section-search {
  display: flex;
  align-items: center;
  background: #111;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  flex-flow: column wrap;
  gap: 20px;
  justify-content: space-evenly;
  width: 90%;
  min-height: 40rem;
  padding: 1rem 2rem 2rem 2rem;
}

.result-search {
  display:inline-block;
  padding:1em 1.5em;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  border-radius: 10px;
  background-color: #111;
  margin-top: 1.5rem;
  color: white;
}

.card-container {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  height: 15rem;
  width: 12rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
}

.card-container > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* display:flex;
align-items: center;
justify-content: center;
height: 100%;
padding:1em 1.5em;
box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
border-radius: 10px;
background-color: #111;
margin-top: 1.5rem;
color: white;
text-overflow: ellipsis;
overflow: hidden; 
width: 100%; 
white-space: nowrap; */

.card-container > button {
  display:flex;
  align-items: center;
  justify-content: center;
  padding:1em 1.5em;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.76),-2px -2px 10px 0px rgba(167, 167, 167, 0.15);
  border-radius:5px;
  cursor:pointer;
  background-color: #111;
  border: none;
  width: 100%;
  color: white;
}

.card-container > button > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.link-card-container {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.card-container > button:hover {
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.76), inset -2px -2px 4px 0px rgba(167, 167, 167, 0.15);
  background-color: #111;
  color: white;
}

.all-cards {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 2rem;
  padding-top: 1rem;
}
